In [1]:
# Day 1

dict = {'a':1, 'b':2, 'c':3}
result = dict.values()
print(result)

dict_values([1, 2, 3])

In [1]:
# Day 2
def uppercase_text(text):
    return text.upper()

result = uppercase_text("Hello, world")
print(result)

HELLO, WORLD

In [1]:
# Day 3
def multiply(a, b):
    return a*b

result = multiply(3, multiply(2, 4))
print(result)

24

In [1]:
# Day 4
my_set  = {1, 2, 3}
result = my_set.union({3, 4, 5})
print(result)

{1, 2, 3, 4, 5}

In [1]:
# Day 5 
def subtract(a, b):
    return a-b
result = subtract(7, subtract(4, 2))
print(result)

5

In [1]:
# Day 6
my_dict = {"a":1, "b":2, "c":3}
result = my_dict.get("d", 0)
print(result)

0

In [3]:
# Day 7
my_list = [1, 2, 3, 4, 5]
result = my_list[-3:-1]
print(result)

[3, 4]

In [4]:
# Day 8
my_list = [1, 2, 3, 4, 5]
result = my_list[1:4:2]
print(result)

[2, 4]

In [1]:
# Day 9
my_dict = {"a": 1,"b": 2,"c": 3}
my_dict.clear()
print(my_dict)

{}

In [1]:
# Day 10
my_dict = {"a": 1,"b": 2,"c": 3}
result = my_dict.popitem()
print(result)

('c', 3)

In [3]:
# Day 11
my_list = [1, 2, 3]
my_list.append([4, 5])
print(my_list)

[1, 2, 3, [4, 5]]

In [1]:
# Day 12
my_tuple = (1, 2, 3)
my_tuple[0] = 4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [2]:
# Day 13
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = set1.difference(set2)
print(result)

{1, 2, 3}

In [1]:
# Day 14
x = [1, 2, 3]
y = x
print(x is y)

True

In [1]:
# Day 15
a = [1, 2, 3]
b = a.copy()
print(a is b)

False

In [1]:
# Day 16
print('Hello!2@#World'.istitle())

True

In [1]:
# Day 17
x = "PythonCoding"
y = False
z = (x[2:6] == "thon")
z = int(z)
print(z)

1

In [3]:
# Day 18
a = 18.5
b = int(a)
print(float(b))

18.0

In [1]:
# Day 19
my_list = [1, 2, 3]
my_list[1] = 4
print(my_list)

[1, 4, 3]

In [1]:
# Day 20
my_tuple = (1, 2, 3)
my_tuple[1] = 4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [1]:
# Day 21
cl = [ ]
print(cl * 2)

[]